# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.github/

# Snakemake files
Snakefile
.snakemake/

# General files
.vscode/
__pycache__/
*.pyc
*.pyo
*.class
*.jar
*.log

# Ignore output directories
reference/*index*/
reference/genome/*
data/*
logs/*
Log*
Aligned.sortedByCoord.out.bam
screenlog.*
work/
results/
